

.App {
  text-align: center;
}

html::-webkit-scrollbar {
  width: 0 !important;
}

body {
  height: 100vh;
  background-color: rgb(240, 230, 230) !important;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  display: none;
  width: 0px !important;
  height: 100vh;
  background-color: #ebebeb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.category::-webkit-scrollbar {
  white-space: nowrap;
  display: none;
  width: 0px !important;
}

.category-item {
  flex: 0 0 auto;
}

.menu-container {
  overflow-y: scroll;
}

.menu-container::-webkit-scrollbar {
  display: none;
  width: 0px !important;
}

.menu-desktop-container {
  grid-row-gap: 2vw;
}

.menu-desktop-container::-webkit-scrollbar {
  width: 2px !important;
}

.cart-list::-webkit-scrollbar {
  display: none;
  width: 0px !important;
}

.checkmark{
  width: calc(100% - 6px);
  height : calc(100% - 6px);
  margin: 0px;
  padding:  0px;
  border-radius: 50%;
  display: none;
  background-color:#A5CB7F;
}

.radio{
  display: none;
}
.radio-button{
  width: 25px;
  height : 25px;
}

.custom-radio-btn{
  width: 22px;
  height : 22px;
  display:  flex;
  justify-content: center;
  align-items: center;
}
.radio:checked + .checkmark{
  display: inline-block;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form-label {
  transition: 0.5s;
  top: -3px;
  left: 0px;
}

.form-input {
  left: 0px;
}
.form-input:focus ~ label {
  top: -20px;
  font-size: 10px;
}

.nav-bar-mobile{
  transform: translateX(-100%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
